* {
  font-family: 'Museo Sans', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 30px;
  color: #0d0d0d;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
}

.promo {
  height: 650px;
  background: url(../img/bg1.jpg) center center/cover no-repeat;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 83px;
}

.promo__titel {
  font-size: 42px;
  color: white;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}

.promo__subtitle {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
}

.promo__icon-box {
  margin-top: 57px;
  display: flex;
  width: 425px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
  color: white;
  line-height: 1.2;
  font-weight: 500;
}

.promo__icon {
  width: 26%;
}

.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}

.promo__link {
  margin-top: 16px;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  text-align: right;
  font-weight: 500;
}

.promo__link a {
  color: white;
  text-decoration: underline;
}

.promo__link a:hover {
  font-size: 17px;
}

.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.header__logo {
  width: 33%;
}

.header__logo img {
  max-width: 260px;
}

.header__representative {
  width: 33%;
  font-size: 12px;
  color: white;
  line-height: 1.7;
  text-align: center;
}

.header__representative span {
  font-size: 18px;
  font-weight: 700;
}

.header__call {
  width: 33%;
  text-align: right;
  line-height: 7px;
}

.header__tel {
  display: block;
  font-size: 18px;
  color: white;
  text-align: right;
  text-decoration: none;
  margin-bottom: 13px;
}

.header__tel:hover {
  text-decoration: underline;
  color: white;
}

.button {
  color: white;
  border-radius: 5px;
  border-width: 0;
  background-color: #c70101;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  height: 30px;
}

.button:hover {
  box-shadow: 3px 3px 20px #fff;
}

.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 63px;
  font-weight: 500;
}

.button_feed-form {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
}

.button_catalog-item {
  width: 131px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
}

.benefits {
  min-height: 473px;
  background-color: #f6f6f6;
  padding-top: 63px;
}

.benefits__box {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  width: 250px;
  text-align: center;
}

.benefits__item img {
  display: block;
  margin: 0 auto;
}

.benefits__item h3 {
  margin-top: 35px;
  font-size: 18px;
  color: #0d0d0d;
  font-weight: 700;
}

.benefits__item p {
  margin-top: 14px;
  font-size: 14px;
  color: #0d0d0d;
  line-height: 1.2;
}

.benefits__item p a {
  color: #ff0000;
  font-weight: 500;
}

.consultation {
  min-height: 680px;
  background: url(../img/bg2.jpg) center center/cover no-repeat;
  padding: 100px 0 90px 0;
}

.consultation__title {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
}

.feed-form {
  margin-top: 70px;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  font-weight: 500;
}

.feed-form form :first-child {
  margin-top: 37px;
}

.feed-form form input {
  display: block;
  border-radius: 5px;
  border: 0;
  width: 300px;
  height: 50px;
  font-size: 14px;
  margin-top: 15px;
  padding: 0 20px;
}

.carousel {
  padding: 81px 0;
  height: 745px;
}

.carousel__inner {
  position: relative;
  margin: 0 auto;
  width: 750px;
}

.carousel .slick-prev {
  border: none;
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
}

.carousel .slick-prev img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  border: none;
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: -66px;
}

.carousel .slick-next img {
  width: 31px;
  height: 50px;
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.slick-dots li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.slick-dots li button {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  font-size: 0px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.slick-dots .slick-active button {
  background-color: rgba(0, 0, 0, 0.5);
}

.catalog {
  padding-bottom: 100px;
}

.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.catalog__tab {
  border-width: 2px;
  border-color: #d0d0d0;
  border-style: solid;
  width: 220px;
  height: 50px;
  font-size: 18px;
  color: #6b6b6b;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s all;
}

.catalog__tab:hover {
  box-shadow: 3px 3px 20px #c70101;
  border: none;
}

.catalog__tab div {
  transform: skewX(25deg);
}

.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}

.catalog__content {
  margin-top: 60px;
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.catalog__content_active {
  display: flex;
}

.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 15px 20px 26px 20px;
  overflow: hidden;
}

.catalog-item_margin-bottom {
  margin-bottom: 20px;
}

.catalog-item__img {
  height: 190px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.catalog-item__subtitle {
  margin-top: 20px;
  font-size: 16px;
  color: #0d0d0d;
  font-weight: 700;
  text-align: center;
}

.catalog-item__descr {
  font-size: 14px;
  color: #0d0d0d;
  line-height: 1.2;
  text-align: center;
  margin-top: 14px;
}

.catalog-item__link-main {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  color: #c70101;
  text-decoration: underline;
  text-align: center;
  font-weight: 500;
  line-height: 12px;
}

.catalog-item__link-main:hover {
  color: #551010;
}

.catalog-item__wrapper {
  width: 556px;
  display: flex;
}

.catalog-item__main {
  width: 256px;
  margin-right: 22px;
  transition: 0.5s all;
}

.catalog-item__main_active {
  transform: translateX(-300px);
  visibility: hidden;
}

.catalog-item__second {
  position: relative;
  width: 256px;
  margin-left: 22px;
  visibility: hidden;
  transition: 0.5s all;
}

.catalog-item__second_active {
  transform: translateX(-300px);
  visibility: visible;
}

.catalog-item__second ul {
  padding-left: 20px;
}

.catalog-item__second ul li {
  position: relative;
  list-style-type: none;
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: 17px;
}

.catalog-item__second ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #c70101;
  position: absolute;
  left: -22px;
  top: 5px;
}

.catalog-item__link-second {
  font-size: 14px;
  color: #c70101;
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 108px;
  top: 296px;
  text-transform: uppercase;
}

.catalog-item__link-second:hover {
  color: #551010;
}

.catalog-item hr {
  background-color: #e8e8e8;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.catalog-item__old-price {
  font-size: 14px;
  color: #555555;
  text-decoration: line-through;
  line-height: 1.2;
  text-align: left;
  font-weight: 500;
}

.catalog-item__price {
  font-size: 20px;
  color: #050505;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
}

.catalog-item__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

.footer {
  height: 630px;
  background: url(../img/map.jpg) center center/cover no-repeat;
}

.footer__address {
  width: 465px;
  height: 275px;
  background-color: #c70101;
  margin: 0 auto;
  padding: 42px;
}

.footer__address span {
  display: block;
  font-size: 20px;
  color: white;
  text-align: center;
}

.footer__tel {
  margin-top: 30px;
  display: block;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer__tel:hover {
  text-decoration: underline;
  color: white;
}

.footer__social-box {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.footer__social-box img {
  margin: 0 15px;
}

@media (max-width: 991px) {
  .promo {
    height: 575px;
  }
  .carousel {
    padding: 50px 0;
    height: 550px;
  }
  .carousel__inner {
    width: 550px;
  }
  .carousel__inner img {
    width: 550px;
  }
  .catalog {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .header__logo img {
    width: 160px;
  }
  .header__representative {
    font-size: 10px;
    line-height: 1.2;
  }
  .header__representative span {
    font-size: 13px;
  }
  .header__tel {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .button_header {
    font-size: 12px;
    width: 125px;
    height: 20px;
  }
  .button_main {
    width: 250px;
    height: 35px;
    font-size: 14px;
    margin-top: 29px;
  }
  .promo {
    height: 450px;
  }
  .promo__wrapper {
    margin-top: 50px;
    align-items: center;
  }
  .promo__titel {
    font-size: 33px;
  }
  .promo__subtitle {
    font-size: 22px;
  }
  .promo__icon-box {
    margin-top: 40px;
  }
  .promo__link {
    margin-top: 15px;
    font-size: 12px;
  }
  .benefits {
    min-height: 473px;
    padding: 30px 0 15px 0;
  }
  .benefits__box {
    display: block;
    margin-top: 20px;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__item h3 {
    margin-top: 0px;
  }
  .benefits__item p br {
    display: none;
  }
  .consultation {
    padding: 70px 0 50px 0;
    min-height: 550px;
  }
  .consultation__title {
    font-size: 30px;
  }
  .feed-form {
    margin-top: 40px;
  }
  .catalog__tab {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .header__logo {
    width: 50px;
  }
  .header__logo img {
    width: 140px;
  }
  .header__representative {
    display: none;
  }
  .header__tel {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .header__call {
    width: 50%;
  }
  .button_header {
    font-size: 10px;
    width: 110px;
    height: 20px;
  }
  .button_main {
    width: 250px;
    height: 35px;
    font-size: 14px;
    margin-top: 55px;
  }
  .button_feed-form {
    width: 250px;
    height: 35px;
    font-size: 14px;
    padding-top: 2px;
  }
  .promo {
    height: 380px;
  }
  .promo__wrapper {
    margin-top: 40px;
    align-items: center;
  }
  .promo__titel {
    font-size: 25px;
  }
  .promo__subtitle {
    font-size: 16px;
  }
  .promo__icon-box {
    display: none;
  }
  .promo__link {
    margin-top: 15px;
    font-size: 12px;
  }
  .title-benefits {
    font-size: 20px;
  }
  .consultation {
    padding: 70px 0 50px 0;
    min-height: 400px;
    text-align: center;
  }
  .consultation__title {
    font-size: 23px;
    text-align: center;
  }
  .feed-form {
    margin-top: 40px;
    font-size: 16px;
  }
  .feed-form form :first-child {
    margin-top: 25px;
  }
  .feed-form form input {
    display: block;
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 50px;
    font-size: 14px;
    margin-top: 15px;
    padding: 0 20px;
  }
  .footer {
    height: 400px;
  }
  .footer__address {
    width: 90vw;
    height: 250px;
  }
  .footer__address span {
    font-size: 15px;
  }
  .footer__tel {
    font-size: 15px;
  }
  .carousel {
    padding: 50px 0;
    height: auto;
  }
  .carousel__inner {
    width: 87vw;
  }
  .carousel__inner img {
    width: 87vw;
  }
  .catalog__tabs {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .catalog__tab {
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    margin: 2px 5px;
  }
  .catalog__content {
    margin-top: 30px;
  }
}
