.button  {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(199, 1, 1);                          
    font-size: 12px;
    text-transform: uppercase;               
    text-align: center; 
    width: 150px;
    height: 30px;
    &:hover {
        box-shadow: 3px 3px 20px #fff;
    }  
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 63px;
        font-weight: 500;
    }
    &_feed-form {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
        font-weight: 500;
    } 
    &_catalog-item {
        width: 131px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        &:hover {
            box-shadow: 3px 3px 20px rgb(199, 1, 1);
        }
    }             
}
  
  