.consultation {
    min-height: 680px;
    background: url(../img/bg2.jpg) center center/cover no-repeat;
    padding: 100px 0 90px 0;
    &__title{       
        font-size: 36px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;   
        font-weight: 700; 
        margin-bottom: 70px;
    }
    .error {
        font-size: 14px;
        border: 1px solid red;
    }
    label.error{
        border: none;
    }
}   

   

