.footer {
    height: 630px;
    background: url(../img/map.jpg) center center/cover no-repeat;
    &__address {
        width: 465px;
        height: 275px;
        background-color: #c70101;
        margin: 0 auto;
        padding: 42px;
        span {
            display: block;
            font-size: 20px;       
            color: rgb(255, 255, 255);           
            text-align: center;
        }         
    }
    &__tel {
        margin-top: 30px;
        display: block;
        font-size: 20px;       
        color: rgb(255, 255, 255);           
        text-align: center;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
    } 
    &__social-box {
        margin-top: 35px;
        display: flex;
        justify-content:center;
        img {
            margin: 0 15px;
        }
    }

}